
body 
{
	margin:auto;
    font-size:16px;
	text-align:center;
}

#core
{

}

.corner
{
	position:fixed;
	width:10%;
	line-height:300%;

	display:inline-block;
	text-align:center;
	vertical-align:middle;
	
	background-color:#4ed89a;
	font-size:1.5em;
	color:#FFFFFF;
	font-weight:bold;
}

#topleft
{
	top:0px;
	left:0px;

	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
}

#topright
{
	top:0px;
	right:0px;

	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
}

#botleft
{
	bottom:0px;
	left:0px;

	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
}

#botright
{
	bottom:0px;
	right:0px;

	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
}

#page
{
    padding: 1%;
}

.innercorner
{
	position:absolute;
	top:30%;
}

header
{
	text-align:center;
}

a
{
	background-color:#4ed89a;
	font-size:1em;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}

iframe 
{
    width: 100%;
    border: 0;
    height: 66%;
}

.span4
{
	float:left;
	width: 31%;
	margin: 1%;
}

.users
{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
}

.user
{
	float:left;
	position: relative;
	width: 48.7%;
	height: 25%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-bottom: 1%;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align:left;
}

.btnlife
{
	-moz-border-radius:15px;
	border-radius:15px;

	background-color:#4ed89a;
	font-size:1.5em;
	color:#FFFFFF;
	font-weight:bold;
	padding:5px;
}

#clickable
{
	cursor:pointer;
}

.bottomp
{
	position:fixed;
	bottom:0px;
	width:98%;
}